// Sage Green ish palette

// Palette Colors
$main-color: #ccd5ae;
$secondary-color: #fefae0;
$accent-color: #faedcd;
// Accent Colors
$main-background: rgb(222, 223, 224);
$main-background-gradient: linear-gradient(
  211deg,
  rgba(222, 223, 224, 1) 20%,
  rgba(245, 245, 245, 1) 79%
);
$darker-background: rgb(230, 230, 230);
$darker-background-gradient: linear-gradient(
  180deg,
  rgba(186, 186, 186, 1) 20%,
  rgba(230, 230, 230, 1) 85%
);
