@use "../partials/palette";
@use "../mixins/mixins";

.nav {
  z-index: 1;
  box-sizing: border-box;
  overflow: hidden;
  position: fixed;
  &__logo {
    height: 100px;
    position: fixed;
    top: 20px;
    left: 6vw;
    font-size: 42px;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &__text {
      display: block;
      opacity: 1;
      transition: all 0.3s ease-in-out;
      z-index: 0;
      &--hidden {
        display: none;
        opacity: 0;
        transition: all 0.3s ease-in-out;
      }
    }
  }
  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30px;
    height: 150px;
    margin: 40vh 0 40vh 6vw;
    &__btn {
      background-color: black; // make into a radial gradient
      height: 13px;
      width: 13px;
      border-radius: 5px;
      border: 2px solid black;
      &--current {
        background-color: rgba(0, 0, 0, 0);
      }
    }
  }
}

@include mixins.tablet-L {
  .nav {
    &__logo {
      height: 80px;
      font-size: 30px;
      top: 15px;
    }
    &__buttons {
      display: none;
    }
  }
}

@include mixins.small-tablet-L {
  .nav {
    &__logo {
      font-size: 20px;
      top: 0;
    }
  }
}

@include mixins.small-tablet-P {
  .nav {
    &__logo {
      font-size: 20px;
      top: 0;
    }
    &__buttons {
      display: none;
    }
  }
}
