@use "../partials/palette";
@use "../mixins/mixins";

.projects {
  background: palette.$darker-background;
  background: palette.$darker-background-gradient;
  width: 100vw;
  height: 100vh;
  @include mixins.standard-flex;
  flex-direction: column;
  &__head {
    font-size: 58px;
    margin-bottom: 50px;
  }
  &__container {
    width: 1000px;
    height: 500px;
    @include mixins.standard-flex;
    // border: 2px solid red;
    &__cards {
      // border: 2px solid red;
      padding: 40px;
      z-index: 1;
      @include mixins.standard-flex;
      flex-direction: column;
      &--wrap {
        @include mixins.standard-flex;
      }
      &--title {
        padding: 5px;
        font-size: 20px;
      }
      &--link {
        padding: 5px;
        font-size: 18px;
        text-decoration: none;
        color: black;
        &:visited {
          color: black;
        }
      }
      &--image {
        width: 300px;
        border-radius: 50px;
        box-shadow: 0 0 10px black;
      }
    }
  }
}
