@use "../partials/palette";
@use "../mixins/mixins";

// add background gradient under top container

.training {
  background: palette.$darker-background;
  width: 100vw;
  height: 100vh;
  @include mixins.standard-flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  &__head {
    font-size: 58px;
    margin-top: 50px;
    &--second {
      margin-top: 0;
      font-size: 40px;
    }
  }
  &__top-container {
    width: 50vw;
    display: flex;
  }
  &__top {
    width: 25%;
    font-size: 18px;
    z-index: 6;
    text-align: center;
    &__para {
      font-family: "Roboto Mono", monospace;
    }
    &--icon {
      font-size: 40px;
      color: palette.$accent-text;
    }
  }
  &__cards {
    padding-top: 20px;
    font-size: 55px;
    color: palette.$accent-text;
  }
  &__bot-container {
    width: 80vw;
    @include mixins.standard-flex;
    justify-content: space-around;
    margin-bottom: 50px;
  }
  &__other {
    @include mixins.standard-flex;
    justify-content: space-around;
    width: 60vw;
    margin-bottom: 80px;
    z-index: 2;
    &__head {
      font-size: 35px;
      margin-top: 20px;
    }
    &__container {
      padding: 0 20px;
      align-self: flex-start;
      margin-top: 20px;
      &--dad {
        align-self: flex-end;
      }
    }
    &__para {
      font-size: 18px;
    }
    &__image {
      width: 80px;
      margin-top: 10px;
      &--dad {
        width: 120px;
        border-radius: 5px;
        box-shadow: 0 0 5px black;
      }
      &--tafe {
        width: 100px;
        margin-top: -10px;
      }
    }
  }
}

.other__head--hidden {
  display: none;
}

.cards--html,
.cards--css,
.cards--scss,
.cards--js {
  white-space: nowrap;
  width: 100%;
  color: palette.$main-text;
  transition: all 0.3s ease-in-out;
  &--hidden {
    white-space: nowrap;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    &--indent {
      padding-left: 15px;
      &--double {
        padding-left: 30px;
      }
    }
  }
  &--inline {
    display: inline;
  }
}

@include mixins.laptop-L {
  .training {
    width: 100%;
    height: 100%;
    &__head {
      font-size: 40px;
    }
    &__top {
      &__para {
        font-size: 14px;
      }
      &--icon {
        font-size: 30px;
      }
    }
    &__cards {
      font-size: 30px;
    }
    &__other {
      margin-bottom: 20px;
      &__head {
        font-size: 24px;
      }
      &__para {
        font-size: 14px;
      }
      &__image {
        width: 50px;
        &--dad {
          width: 60px;
        }
        &--tafe {
          width: 60px;
        }
      }
    }
  }
}

@include mixins.tablet-L {
  .training {
    &__head {
      font-size: 30px;
    }
    &__top {
      &__para {
        display: none;
      }
    }
    &__bot-container {
      margin-bottom: 0;
    }
  }
}

@include mixins.small-tablet-L {
  .training {
    &__head {
      font-size: 20px;
    }
    &__cards {
      padding-top: 0;
    }
    &__other {
      &__head {
        font-size: 14px;
      }
      &__para {
        font-size: 10px;
      }
      &__image {
        width: 40px;
        &--dad {
          width: 40px;
        }
        &--tafe {
          width: 50px;
        }
      }
    }
  }
}

@include mixins.tablet-P {
  .training {
    width: 100lvw;
    height: 100lvh;
    &__head {
      font-size: 42px;
    }
    &__top {
      &__para {
        display: none;
      }
    }
    &__other {
      &__head {
        font-size: 24px;
      }
      &__image {
        width: 60px;
        &--dad {
          width: 90px;
        }
        &--tafe {
          width: 80px;
        }
      }
    }
  }
}

@include mixins.small-tablet-P {
  .training {
    width: 100lvw;
    height: 100lvh;
    &__head {
      font-size: 30px;
    }
    &__top {
      &--icon {
        font-size: 32px;
      }
    }
    &__cards {
      font-size: 32px;
    }
    &__other {
      width: 80lvw;
      &__para {
        font-size: 15px;
      }
      &__head {
        font-size: 20px;
      }
      &__image {
        width: 40px;
        &--dad {
          width: 60px;
        }
        &--tafe {
          width: 60px;
        }
      }
    }
  }
}

@include mixins.phone-P {
  .training {
    &__head {
      font-size: 26px;
    }
    &__top {
      &--icon {
        font-size: 28px;
      }
    }
    &__cards {
      font-size: 28px;
    }
    &__other {
      justify-content: center;
      &__container {
        width: 33.33%;
      }
      &__head {
        display: none;
      }
      &__para {
        font-size: 14px;
        text-align: center;
      }
    }
    .other__head--hidden {
      display: block;
      font-size: 20px;
    }
  }
}
