.landing {
  width: 100vw;
  height: 100vh;
  background: rgb(222, 223, 224);
  background: linear-gradient(211deg, rgb(222, 223, 224) 20%, rgb(245, 245, 245) 79%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing__text {
  margin-left: 5vw;
  margin-bottom: 20vh;
}
.landing__text__head {
  font-size: 52px;
}
.landing__text__title {
  padding: 20px 0 15px 0;
  font-size: 35px;
  font-weight: 500;
  font-style: italic;
}
.landing__text__text {
  font-size: 22px;
}
.landing__image {
  margin-left: 15vw;
  margin-bottom: 20vh;
}
.landing__image--mods {
  border-radius: 50px;
  width: 250px;
  box-shadow: 0 0 10px grey;
}

.break {
  flex-basis: 100%;
  height: 0;
}

@media only screen and (max-width: 1280px) and (orientation: landscape) {
  .landing {
    width: 100%;
    height: 100%;
  }
  .landing__text {
    margin-bottom: 0;
  }
  .landing__image {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 992px) and (orientation: landscape) {
  .landing {
    width: 100%;
  }
  .landing__text {
    margin: 0;
  }
  .landing__text__head {
    font-size: 48px;
  }
  .landing__text__title {
    font-size: 30px;
  }
  .landing__text__text {
    font-size: 20px;
  }
  .landing__image {
    margin: 30px;
  }
  .landing__image--mods {
    width: 150px;
  }
}
@media only screen and (max-width: 768px) and (orientation: landscape) {
  .landing__text {
    margin: 0;
  }
  .landing__text__head {
    font-size: 30px;
  }
  .landing__text__title {
    font-size: 24px;
  }
  .landing__text__text {
    font-size: 16px;
  }
  .landing__image {
    margin: 30px;
  }
  .landing__image--mods {
    border-radius: 30px;
    width: 100px;
  }
}
@media only screen and (max-width: 992px) and (orientation: portrait) {
  .landing {
    width: 100lvw;
    height: 100lvh;
    flex-direction: column;
  }
  .landing__text {
    margin: 0;
  }
  .landing__image {
    margin: 0 0 10lvh 0;
  }
}
@media only screen and (max-width: 768px) and (orientation: portrait) {
  .landing__text__head {
    font-size: 30px;
  }
  .landing__text__title {
    font-size: 24px;
  }
  .landing__text__text {
    font-size: 16px;
  }
  .landing__image--mods {
    width: 180px;
  }
}
@media only screen and (max-width: 576px) and (orientation: portrait) {
  .landing__text {
    margin: 15px;
  }
  .landing__image {
    margin: 2lvh;
  }
}
.projects {
  background: rgb(230, 230, 230);
  background: linear-gradient(180deg, rgb(186, 186, 186) 20%, rgb(230, 230, 230) 85%);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.projects__head {
  font-size: 58px;
  margin-bottom: 50px;
}
.projects__container {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects__container__cards {
  padding: 40px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.projects__container__cards--wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects__container__cards--title {
  padding: 5px;
  font-size: 20px;
}
.projects__container__cards--link {
  padding: 5px;
  font-size: 18px;
  text-decoration: none;
  color: black;
}
.projects__container__cards--link:visited {
  color: black;
}
.projects__container__cards--image {
  width: 300px;
  border-radius: 50px;
  box-shadow: 0 0 10px black;
}

@media only screen and (max-width: 1280px) and (orientation: landscape) {
  .projects {
    width: 100%;
    height: 100%;
  }
  .projects__head {
    font-size: 44px;
    margin-bottom: 25px;
  }
  .projects__container__cards--image {
    width: 175px;
  }
}
@media only screen and (max-width: 992px) and (orientation: landscape) {
  .projects {
    justify-content: flex-end;
  }
  .projects__head {
    font-size: 40px;
    margin-bottom: 0;
  }
  .projects__container__cards {
    padding: 0;
    padding-top: 20px;
    margin-bottom: 40px;
  }
  .projects__container__cards--image {
    width: 125px;
  }
}
@media only screen and (max-width: 768px) and (orientation: landscape) {
  .projects__head {
    font-size: 30px;
  }
  .projects__container__cards {
    padding-top: 10px;
    margin-bottom: 20px;
  }
  .projects__container__cards--image {
    border-radius: 20px;
    width: 100px;
  }
}
@media only screen and (max-width: 992px) and (orientation: portrait) {
  .projects {
    width: 100lvw;
    height: 100lvh;
  }
  .projects__head {
    font-size: 44px;
  }
}
@media only screen and (max-width: 768px) and (orientation: portrait) {
  .projects__head {
    font-size: 40px;
  }
  .projects__container__cards {
    padding: 0;
  }
  .projects__container__cards--image {
    border-radius: 20px;
    width: 180px;
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 576px) and (orientation: portrait) {
  .projects__head {
    font-size: 25px;
  }
  .projects__container__cards--image {
    width: 130px;
  }
  .projects__container__cards--title {
    text-align: center;
    font-size: 17px;
  }
  .projects__container__cards--link {
    font-size: 16px;
  }
}
.training {
  background: rgb(230, 230, 230);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
.training__head {
  font-size: 58px;
  margin-top: 50px;
}
.training__head--second {
  margin-top: 0;
  font-size: 40px;
}
.training__top-container {
  width: 50vw;
  display: flex;
}
.training__top {
  width: 25%;
  font-size: 18px;
  z-index: 6;
  text-align: center;
}
.training__top__para {
  font-family: "Roboto Mono", monospace;
}
.training__top--icon {
  font-size: 40px;
  color: #3e4b62;
}
.training__cards {
  padding-top: 20px;
  font-size: 55px;
  color: #3e4b62;
}
.training__bot-container {
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 50px;
}
.training__other {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  width: 60vw;
  margin-bottom: 80px;
  z-index: 2;
}
.training__other__head {
  font-size: 35px;
  margin-top: 20px;
}
.training__other__container {
  padding: 0 20px;
  align-self: flex-start;
  margin-top: 20px;
}
.training__other__container--dad {
  align-self: flex-end;
}
.training__other__para {
  font-size: 18px;
}
.training__other__image {
  width: 80px;
  margin-top: 10px;
}
.training__other__image--dad {
  width: 120px;
  border-radius: 5px;
  box-shadow: 0 0 5px black;
}
.training__other__image--tafe {
  width: 100px;
  margin-top: -10px;
}

.other__head--hidden {
  display: none;
}

.cards--html,
.cards--css,
.cards--scss,
.cards--js,
.cards--go {
  white-space: nowrap;
  width: 100%;
  color: black;
  transition: all 0.3s ease-in-out;
}
.cards--html--hidden,
.cards--css--hidden,
.cards--scss--hidden,
.cards--js--hidden,
.cards--go--hidden {
  white-space: nowrap;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.cards--html--hidden--indent,
.cards--css--hidden--indent,
.cards--scss--hidden--indent,
.cards--js--hidden--indent,
.cards--go--hidden--indent {
  padding-left: 15px;
}
.cards--html--hidden--indent--double,
.cards--css--hidden--indent--double,
.cards--scss--hidden--indent--double,
.cards--js--hidden--indent--double {
  padding-left: 30px;
}
.cards--html--inline,
.cards--css--inline,
.cards--scss--inline,
.cards--js--inline,
.cards--go--inline {
  display: inline;
}

@media only screen and (max-width: 1280px) and (orientation: landscape) {
  .training {
    width: 100%;
    height: 100%;
  }
  .training__head {
    font-size: 40px;
  }
  .training__top__para {
    font-size: 14px;
  }
  .training__top--icon {
    font-size: 30px;
  }
  .training__cards {
    font-size: 30px;
  }
  .training__other {
    margin-bottom: 20px;
  }
  .training__other__head {
    font-size: 24px;
  }
  .training__other__para {
    font-size: 14px;
  }
  .training__other__image {
    width: 50px;
  }
  .training__other__image--dad {
    width: 60px;
  }
  .training__other__image--tafe {
    width: 60px;
  }
}
@media only screen and (max-width: 992px) and (orientation: landscape) {
  .training__head {
    font-size: 30px;
  }
  .training__top__para {
    display: none;
  }
  .training__bot-container {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 768px) and (orientation: landscape) {
  .training__head {
    font-size: 20px;
  }
  .training__cards {
    padding-top: 0;
  }
  .training__other__head {
    font-size: 14px;
  }
  .training__other__para {
    font-size: 10px;
  }
  .training__other__image {
    width: 40px;
  }
  .training__other__image--dad {
    width: 40px;
  }
  .training__other__image--tafe {
    width: 50px;
  }
}
@media only screen and (max-width: 992px) and (orientation: portrait) {
  .training {
    width: 100lvw;
    height: 100lvh;
  }
  .training__head {
    font-size: 42px;
  }
  .training__top__para {
    display: none;
  }
  .training__other__head {
    font-size: 24px;
  }
  .training__other__image {
    width: 60px;
  }
  .training__other__image--dad {
    width: 90px;
  }
  .training__other__image--tafe {
    width: 80px;
  }
}
@media only screen and (max-width: 768px) and (orientation: portrait) {
  .training {
    width: 100lvw;
    height: 100lvh;
  }
  .training__head {
    font-size: 30px;
  }
  .training__top--icon {
    font-size: 32px;
  }
  .training__cards {
    font-size: 32px;
  }
  .training__other {
    width: 80lvw;
  }
  .training__other__para {
    font-size: 15px;
  }
  .training__other__head {
    font-size: 20px;
  }
  .training__other__image {
    width: 40px;
  }
  .training__other__image--dad {
    width: 60px;
  }
  .training__other__image--tafe {
    width: 60px;
  }
}
@media only screen and (max-width: 576px) and (orientation: portrait) {
  .training__head {
    font-size: 26px;
  }
  .training__top--icon {
    font-size: 28px;
  }
  .training__cards {
    font-size: 28px;
  }
  .training__other {
    justify-content: center;
  }
  .training__other__container {
    width: 33.33%;
  }
  .training__other__head {
    display: none;
  }
  .training__other__para {
    font-size: 14px;
    text-align: center;
  }
  .training .other__head--hidden {
    display: block;
    font-size: 20px;
  }
}
.about {
  height: 100vh;
  width: 100vw;
  background: rgb(222, 223, 224);
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__container {
  width: 60vw;
  height: 70vh;
}
.about__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about__info__text {
  width: 400px;
  font-size: 18px;
}
.about__info__text--head {
  font-weight: 500;
  text-align: center;
  font-size: 20px;
  padding-bottom: 20px;
}
.about__info__image {
  width: 220px;
  border-radius: 150px;
}
.about__contact {
  width: 30vw;
  margin-top: 15vh;
  float: right;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.about__contact__text {
  padding: 5px;
  font-size: 20px;
  z-index: 2;
}
.about__contact__text--head {
  padding-bottom: 15px;
}
.about__contact__text--link {
  padding-left: 10px;
}
.about__contact__text--link:visited, .about__contact__text--link:link {
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 1280px) and (orientation: landscape) {
  .about {
    width: 100%;
    height: 100%;
  }
  .about__container {
    height: 50vh;
  }
  .about__contact {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;
    float: left;
    width: fit-content;
  }
  .about__contact__text--head {
    padding-bottom: 0;
  }
}
@media only screen and (max-width: 992px) and (orientation: landscape) {
  .about {
    align-items: center;
  }
  .about__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 75vh;
  }
  .about__info__text {
    font-size: 16px;
    margin-bottom: 10px;
    width: 350px;
  }
  .about__info__image {
    margin-bottom: 10px;
    width: 150px;
  }
  .about__contact {
    margin-left: -70px;
    margin-top: 20px;
    float: none;
  }
}
@media only screen and (max-width: 768px) and (orientation: landscape) {
  .about__info__text {
    font-size: 12px;
  }
  .about__info__image {
    margin-bottom: 0;
    width: 100px;
  }
  .about__contact {
    margin-left: -50px;
    margin-top: 20px;
  }
  .about__contact__text {
    font-size: 14px;
  }
}
@media only screen and (max-width: 992px) and (orientation: portrait) {
  .about {
    width: 100lvw;
    height: 100lvh;
  }
  .about__contact {
    width: 50lvh;
  }
}
@media only screen and (max-width: 768px) and (orientation: portrait) {
  .about__info__text {
    font-size: 14px;
  }
  .about__info__image {
    margin-bottom: 0;
    width: 100px;
  }
  .about__contact {
    float: none;
  }
  .about__contact__text {
    font-size: 16px;
  }
}
.nav {
  z-index: 1;
  box-sizing: border-box;
  overflow: hidden;
  position: fixed;
}
.nav__logo {
  height: 100px;
  position: fixed;
  top: 20px;
  left: 6vw;
  font-size: 42px;
  font-weight: 600;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav__logo__text {
  display: block;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  z-index: 0;
}
.nav__logo__text--hidden {
  display: none;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.nav__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30px;
  height: 150px;
  margin: 40vh 0 40vh 6vw;
}
.nav__buttons__btn {
  background-color: black;
  height: 13px;
  width: 13px;
  border-radius: 5px;
  border: 2px solid black;
}
.nav__buttons__btn--current {
  background-color: rgba(0, 0, 0, 0);
}

@media only screen and (max-width: 992px) and (orientation: landscape) {
  .nav__logo {
    height: 80px;
    font-size: 30px;
    top: 15px;
  }
  .nav__buttons {
    display: none;
  }
}
@media only screen and (max-width: 768px) and (orientation: landscape) {
  .nav__logo {
    font-size: 20px;
    top: 0;
  }
}
@media only screen and (max-width: 768px) and (orientation: portrait) {
  .nav__logo {
    font-size: 20px;
    top: 0;
  }
  .nav__buttons {
    display: none;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.scroll {
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-type: y mandatory;
}
